html {
    height: 100%;
    background: url(../img/login/imageLogin.jpg) fixed;
    background-size: cover;
}


/*screen for ipad*/

@media only screen and (max-width: 1024px) {
    html {
        height: 100%;
        background: url(../img/login/ipad.jpg)fixed;
        background-size: cover;
    }
}


/*screen for smartphone*/

@media only screen and (max-width: 375px) {
    html {
        height: 100%;
        background: url(../img/login/smartPhong.jpg) fixed;
        background-size: cover;
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

input {
    border: 0;
}


/* 9:38pm 12/3/19*/

img {
    border-radius: 10px;
    width: 70%;
}

.container {
    background: rgba(83, 85, 87, 0.5);
    width: 450px;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: rgb(200, 173, 44) 0px 0px 30px 0px;
}

.logo {
    border-radius: 10px;
    text-align: center;
    padding: 25px 25px 0;
    margin: 0;
}

.login-item {
    padding: 25px 25px 0;
    margin: 20px 20px 0;
}

.form input[type="password"],
.form input[type="text"],
.form input[type="submit"] {
    width: 100%;
}

.form-login input[type="text"],
.form-login input[type="password"] {
    padding: 1rem;
}

.form-login input[type="submit"] {
    background-color: rgba(218, 187, 17, 0.89);
    color: white;
    font-weight: bold;
    padding: 1rem;
    text-transform: uppercase;
    border-radius: 10px;
    width: 50%;
}

.form-login input[type="submit"]:focus,
.form-login input[type="submit"]:hover {
    background-color: rgb(10, 10, 9);
}

.form-field {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.check {
    font-family: sans-serif;
    padding: 0.5em;
    color: #ffffff;
    size: 10px;
}